xml-resources/axis2/META-INF/Translate.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://translation/diwan/com/" xmlns:ns2="http://translation.diwan.com/xsd" xmlns:ns1="http://soap.diwan.com/xsd" xmlns:ns3="http://translation/diwan/com/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://client.axis2.apache.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://translation/diwan/com/">
    <wsdl:types>
        <xs:schema xmlns:ax23="http://client.axis2.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://client.axis2.apache.org/xsd">
            <xs:complexType name="Stub">
                <xs:sequence>
                    <xs:element minOccurs="0" name="serviceClientEPR" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://soap.diwan.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://soap.diwan.com/xsd">
            <xs:complexType name="SoapServiceStub">
                <xs:complexContent>
                    <xs:extension base="ns0:Stub">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="uniqueSuffix" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="SoapServiceStub$TranslateOptions">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax21="http://translation.diwan.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://translation.diwan.com/xsd">
            <xs:complexType name="TranslateFault">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="Translate$TranslateArrayResult">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ns="http://translation/diwan/com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://translation/diwan/com/xsd">
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="TranslateFault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="TranslateFault" nillable="true" type="ns2:TranslateFault"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="translateXML">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="in" nillable="true" type="xs:base64Binary"/>
                        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="translateXMLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStubResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns1:SoapServiceStub"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOptionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns1:SoapServiceStub$TranslateOptions"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="translateArray">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="texts" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="translateArrayResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns2:Translate$TranslateArrayResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="breakSentences">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="breakSentencesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="detect">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="detectResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppIdToken">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="minratingread" type="xs:int"/>
                        <xs:element minOccurs="0" name="maxratingwrite" type="xs:int"/>
                        <xs:element minOccurs="0" name="expireseconds" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppIdTokenResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppidResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCategoryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getContenttypeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUriResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="speak">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="speakResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="translateLine">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="translateLineResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="detectArray">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="texts" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="detectArrayResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLanguageForSpeakResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLanguagesForTranslateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLanguagesNames">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="locale" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="codeString" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLanguagesNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTranslations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="maxtranslations" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTranslationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTranslationsArray">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="texts" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="maxtranslations" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTranslationsArrayResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTranslation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="original" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="rate" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setAppid">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="appid" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setCategory">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setContenttype">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="contenttype" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setOptions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="options" nillable="true" type="ns1:SoapServiceStub$TranslateOptions"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setStub">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="stub" nillable="true" type="ns1:SoapServiceStub"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setUri">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uri" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAppidRequest"/>
    <wsdl:message name="getAppidResponse">
        <wsdl:part name="parameters" element="ns3:getAppidResponse"/>
    </wsdl:message>
    <wsdl:message name="setStubRequest">
        <wsdl:part name="parameters" element="ns3:setStub"/>
    </wsdl:message>
    <wsdl:message name="getContenttypeRequest"/>
    <wsdl:message name="getContenttypeResponse">
        <wsdl:part name="parameters" element="ns3:getContenttypeResponse"/>
    </wsdl:message>
    <wsdl:message name="getTranslationsRequest">
        <wsdl:part name="parameters" element="ns3:getTranslations"/>
    </wsdl:message>
    <wsdl:message name="getTranslationsResponse">
        <wsdl:part name="parameters" element="ns3:getTranslationsResponse"/>
    </wsdl:message>
    <wsdl:message name="TranslateFault">
        <wsdl:part name="parameters" element="ns3:TranslateFault"/>
    </wsdl:message>
    <wsdl:message name="addTranslationRequest">
        <wsdl:part name="parameters" element="ns3:addTranslation"/>
    </wsdl:message>
    <wsdl:message name="addTranslationResponse"/>
    <wsdl:message name="setCategoryRequest">
        <wsdl:part name="parameters" element="ns3:setCategory"/>
    </wsdl:message>
    <wsdl:message name="setUriRequest">
        <wsdl:part name="parameters" element="ns3:setUri"/>
    </wsdl:message>
    <wsdl:message name="getLanguagesForTranslateRequest"/>
    <wsdl:message name="getLanguagesForTranslateResponse">
        <wsdl:part name="parameters" element="ns3:getLanguagesForTranslateResponse"/>
    </wsdl:message>
    <wsdl:message name="getOptionsRequest"/>
    <wsdl:message name="getOptionsResponse">
        <wsdl:part name="parameters" element="ns3:getOptionsResponse"/>
    </wsdl:message>
    <wsdl:message name="setUserRequest">
        <wsdl:part name="parameters" element="ns3:setUser"/>
    </wsdl:message>
    <wsdl:message name="getLanguageForSpeakRequest"/>
    <wsdl:message name="getLanguageForSpeakResponse">
        <wsdl:part name="parameters" element="ns3:getLanguageForSpeakResponse"/>
    </wsdl:message>
    <wsdl:message name="detectArrayRequest">
        <wsdl:part name="parameters" element="ns3:detectArray"/>
    </wsdl:message>
    <wsdl:message name="detectArrayResponse">
        <wsdl:part name="parameters" element="ns3:detectArrayResponse"/>
    </wsdl:message>
    <wsdl:message name="setAppidRequest">
        <wsdl:part name="parameters" element="ns3:setAppid"/>
    </wsdl:message>
    <wsdl:message name="detectRequest">
        <wsdl:part name="parameters" element="ns3:detect"/>
    </wsdl:message>
    <wsdl:message name="detectResponse">
        <wsdl:part name="parameters" element="ns3:detectResponse"/>
    </wsdl:message>
    <wsdl:message name="breakSentencesRequest">
        <wsdl:part name="parameters" element="ns3:breakSentences"/>
    </wsdl:message>
    <wsdl:message name="breakSentencesResponse">
        <wsdl:part name="parameters" element="ns3:breakSentencesResponse"/>
    </wsdl:message>
    <wsdl:message name="getUserRequest"/>
    <wsdl:message name="getUserResponse">
        <wsdl:part name="parameters" element="ns3:getUserResponse"/>
    </wsdl:message>
    <wsdl:message name="setContenttypeRequest">
        <wsdl:part name="parameters" element="ns3:setContenttype"/>
    </wsdl:message>
    <wsdl:message name="getLanguagesNamesRequest">
        <wsdl:part name="parameters" element="ns3:getLanguagesNames"/>
    </wsdl:message>
    <wsdl:message name="getLanguagesNamesResponse">
        <wsdl:part name="parameters" element="ns3:getLanguagesNamesResponse"/>
    </wsdl:message>
    <wsdl:message name="speakRequest">
        <wsdl:part name="parameters" element="ns3:speak"/>
    </wsdl:message>
    <wsdl:message name="speakResponse">
        <wsdl:part name="parameters" element="ns3:speakResponse"/>
    </wsdl:message>
    <wsdl:message name="translateArrayRequest">
        <wsdl:part name="parameters" element="ns3:translateArray"/>
    </wsdl:message>
    <wsdl:message name="translateArrayResponse">
        <wsdl:part name="parameters" element="ns3:translateArrayResponse"/>
    </wsdl:message>
    <wsdl:message name="getStubRequest"/>
    <wsdl:message name="getStubResponse">
        <wsdl:part name="parameters" element="ns3:getStubResponse"/>
    </wsdl:message>
    <wsdl:message name="getTranslationsArrayRequest">
        <wsdl:part name="parameters" element="ns3:getTranslationsArray"/>
    </wsdl:message>
    <wsdl:message name="getTranslationsArrayResponse">
        <wsdl:part name="parameters" element="ns3:getTranslationsArrayResponse"/>
    </wsdl:message>
    <wsdl:message name="translateLineRequest">
        <wsdl:part name="parameters" element="ns3:translateLine"/>
    </wsdl:message>
    <wsdl:message name="translateLineResponse">
        <wsdl:part name="parameters" element="ns3:translateLineResponse"/>
    </wsdl:message>
    <wsdl:message name="getCategoryRequest"/>
    <wsdl:message name="getCategoryResponse">
        <wsdl:part name="parameters" element="ns3:getCategoryResponse"/>
    </wsdl:message>
    <wsdl:message name="setOptionsRequest">
        <wsdl:part name="parameters" element="ns3:setOptions"/>
    </wsdl:message>
    <wsdl:message name="translateXMLRequest">
        <wsdl:part name="parameters" element="ns3:translateXML"/>
    </wsdl:message>
    <wsdl:message name="translateXMLResponse">
        <wsdl:part name="parameters" element="ns3:translateXMLResponse"/>
    </wsdl:message>
    <wsdl:message name="getUriRequest"/>
    <wsdl:message name="getUriResponse">
        <wsdl:part name="parameters" element="ns3:getUriResponse"/>
    </wsdl:message>
    <wsdl:message name="getAppIdTokenRequest">
        <wsdl:part name="parameters" element="ns3:getAppIdToken"/>
    </wsdl:message>
    <wsdl:message name="getAppIdTokenResponse">
        <wsdl:part name="parameters" element="ns3:getAppIdTokenResponse"/>
    </wsdl:message>
    <wsdl:portType name="TranslatePortType">
        <wsdl:operation name="getAppid">
            <wsdl:input message="axis2:getAppidRequest" wsaw:Action="urn:getAppid"/>
            <wsdl:output message="axis2:getAppidResponse" wsaw:Action="urn:getAppidResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setStub">
            <wsdl:input message="axis2:setStubRequest" wsaw:Action="urn:setStub"/>
        </wsdl:operation>
        <wsdl:operation name="getContenttype">
            <wsdl:input message="axis2:getContenttypeRequest" wsaw:Action="urn:getContenttype"/>
            <wsdl:output message="axis2:getContenttypeResponse" wsaw:Action="urn:getContenttypeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTranslations">
            <wsdl:input message="axis2:getTranslationsRequest" wsaw:Action="urn:getTranslations"/>
            <wsdl:output message="axis2:getTranslationsResponse" wsaw:Action="urn:getTranslationsResponse"/>
            <wsdl:fault message="axis2:TranslateFault" name="TranslateFault" wsaw:Action="urn:getTranslationsTranslateFault"/>
        </wsdl:operation>
        <wsdl:operation name="addTranslation">
            <wsdl:input message="axis2:addTranslationRequest" wsaw:Action="urn:addTranslation"/>
            <wsdl:output message="axis2:addTranslationResponse" wsaw:Action="urn:addTranslationResponse"/>
            <wsdl:fault message="axis2:TranslateFault" name="TranslateFault" wsaw:Action="urn:addTranslationTranslateFault"/>
        </wsdl:operation>
        <wsdl:operation name="setCategory">
            <wsdl:input message="axis2:setCategoryRequest" wsaw:Action="urn:setCategory"/>
        </wsdl:operation>
        <wsdl:operation name="setUri">
            <wsdl:input message="axis2:setUriRequest" wsaw:Action="urn:setUri"/>
        </wsdl:operation>
        <wsdl:operation name="getLanguagesForTranslate">
            <wsdl:input message="axis2:getLanguagesForTranslateRequest" wsaw:Action="urn:getLanguagesForTranslate"/>
            <wsdl:output message="axis2:getLanguagesForTranslateResponse" wsaw:Action="urn:getLanguagesForTranslateResponse"/>
            <wsdl:fault message="axis2:TranslateFault" name="TranslateFault" wsaw:Action="urn:getLanguagesForTranslateTranslateFault"/>
        </wsdl:operation>
        <wsdl:operation name="getOptions">
            <wsdl:input message="axis2:getOptionsRequest" wsaw:Action="urn:getOptions"/>
            <wsdl:output message="axis2:getOptionsResponse" wsaw:Action="urn:getOptionsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setUser">
            <wsdl:input message="axis2:setUserRequest" wsaw:Action="urn:setUser"/>
        </wsdl:operation>
        <wsdl:operation name="getLanguageForSpeak">
            <wsdl:input message="axis2:getLanguageForSpeakRequest" wsaw:Action="urn:getLanguageForSpeak"/>
            <wsdl:output message="axis2:getLanguageForSpeakResponse" wsaw:Action="urn:getLanguageForSpeakResponse"/>
            <wsdl:fault message="axis2:TranslateFault" name="TranslateFault" wsaw:Action="urn:getLanguageForSpeakTranslateFault"/>
        </wsdl:operation>
        <wsdl:operation name="detectArray">
            <wsdl:input message="axis2:detectArrayRequest" wsaw:Action="urn:detectArray"/>
            <wsdl:output message="axis2:detectArrayResponse" wsaw:Action="urn:detectArrayResponse"/>
            <wsdl:fault message="axis2:TranslateFault" name="TranslateFault" wsaw:Action="urn:detectArrayTranslateFault"/>
        </wsdl:operation>
        <wsdl:operation name="setAppid">
            <wsdl:input message="axis2:setAppidRequest" wsaw:Action="urn:setAppid"/>
        </wsdl:operation>
        <wsdl:operation name="detect">
            <wsdl:input message="axis2:detectRequest" wsaw:Action="urn:detect"/>
            <wsdl:output message="axis2:detectResponse" wsaw:Action="urn:detectResponse"/>
            <wsdl:fault message="axis2:TranslateFault" name="TranslateFault" wsaw:Action="urn:detectTranslateFault"/>
        </wsdl:operation>
        <wsdl:operation name="breakSentences">
            <wsdl:input message="axis2:breakSentencesRequest" wsaw:Action="urn:breakSentences"/>
            <wsdl:output message="axis2:breakSentencesResponse" wsaw:Action="urn:breakSentencesResponse"/>
            <wsdl:fault message="axis2:TranslateFault" name="TranslateFault" wsaw:Action="urn:breakSentencesTranslateFault"/>
        </wsdl:operation>
        <wsdl:operation name="getUser">
            <wsdl:input message="axis2:getUserRequest" wsaw:Action="urn:getUser"/>
            <wsdl:output message="axis2:getUserResponse" wsaw:Action="urn:getUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setContenttype">
            <wsdl:input message="axis2:setContenttypeRequest" wsaw:Action="urn:setContenttype"/>
        </wsdl:operation>
        <wsdl:operation name="getLanguagesNames">
            <wsdl:input message="axis2:getLanguagesNamesRequest" wsaw:Action="urn:getLanguagesNames"/>
            <wsdl:output message="axis2:getLanguagesNamesResponse" wsaw:Action="urn:getLanguagesNamesResponse"/>
            <wsdl:fault message="axis2:TranslateFault" name="TranslateFault" wsaw:Action="urn:getLanguagesNamesTranslateFault"/>
        </wsdl:operation>
        <wsdl:operation name="speak">
            <wsdl:input message="axis2:speakRequest" wsaw:Action="urn:speak"/>
            <wsdl:output message="axis2:speakResponse" wsaw:Action="urn:speakResponse"/>
            <wsdl:fault message="axis2:TranslateFault" name="TranslateFault" wsaw:Action="urn:speakTranslateFault"/>
        </wsdl:operation>
        <wsdl:operation name="translateArray">
            <wsdl:input message="axis2:translateArrayRequest" wsaw:Action="urn:translateArray"/>
            <wsdl:output message="axis2:translateArrayResponse" wsaw:Action="urn:translateArrayResponse"/>
            <wsdl:fault message="axis2:TranslateFault" name="TranslateFault" wsaw:Action="urn:translateArrayTranslateFault"/>
        </wsdl:operation>
        <wsdl:operation name="getStub">
            <wsdl:input message="axis2:getStubRequest" wsaw:Action="urn:getStub"/>
            <wsdl:output message="axis2:getStubResponse" wsaw:Action="urn:getStubResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTranslationsArray">
            <wsdl:input message="axis2:getTranslationsArrayRequest" wsaw:Action="urn:getTranslationsArray"/>
            <wsdl:output message="axis2:getTranslationsArrayResponse" wsaw:Action="urn:getTranslationsArrayResponse"/>
            <wsdl:fault message="axis2:TranslateFault" name="TranslateFault" wsaw:Action="urn:getTranslationsArrayTranslateFault"/>
        </wsdl:operation>
        <wsdl:operation name="translateLine">
            <wsdl:input message="axis2:translateLineRequest" wsaw:Action="urn:translateLine"/>
            <wsdl:output message="axis2:translateLineResponse" wsaw:Action="urn:translateLineResponse"/>
            <wsdl:fault message="axis2:TranslateFault" name="TranslateFault" wsaw:Action="urn:translateLineTranslateFault"/>
        </wsdl:operation>
        <wsdl:operation name="getCategory">
            <wsdl:input message="axis2:getCategoryRequest" wsaw:Action="urn:getCategory"/>
            <wsdl:output message="axis2:getCategoryResponse" wsaw:Action="urn:getCategoryResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setOptions">
            <wsdl:input message="axis2:setOptionsRequest" wsaw:Action="urn:setOptions"/>
        </wsdl:operation>
        <wsdl:operation name="translateXML">
            <wsdl:input message="axis2:translateXMLRequest" wsaw:Action="urn:translateXML"/>
            <wsdl:output message="axis2:translateXMLResponse" wsaw:Action="urn:translateXMLResponse"/>
            <wsdl:fault message="axis2:TranslateFault" name="TranslateFault" wsaw:Action="urn:translateXMLTranslateFault"/>
        </wsdl:operation>
        <wsdl:operation name="getUri">
            <wsdl:input message="axis2:getUriRequest" wsaw:Action="urn:getUri"/>
            <wsdl:output message="axis2:getUriResponse" wsaw:Action="urn:getUriResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAppIdToken">
            <wsdl:input message="axis2:getAppIdTokenRequest" wsaw:Action="urn:getAppIdToken"/>
            <wsdl:output message="axis2:getAppIdTokenResponse" wsaw:Action="urn:getAppIdTokenResponse"/>
            <wsdl:fault message="axis2:TranslateFault" name="TranslateFault" wsaw:Action="urn:getAppIdTokenTranslateFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TranslateSOAP11Binding" type="axis2:TranslatePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAppid">
            <soap:operation soapAction="urn:getAppid" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStub">
            <soap:operation soapAction="urn:setStub" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getContenttype">
            <soap:operation soapAction="urn:getContenttype" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTranslations">
            <soap:operation soapAction="urn:getTranslations" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTranslation">
            <soap:operation soapAction="urn:addTranslation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setCategory">
            <soap:operation soapAction="urn:setCategory" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setUri">
            <soap:operation soapAction="urn:setUri" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getLanguagesForTranslate">
            <soap:operation soapAction="urn:getLanguagesForTranslate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOptions">
            <soap:operation soapAction="urn:getOptions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUser">
            <soap:operation soapAction="urn:setUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getLanguageForSpeak">
            <soap:operation soapAction="urn:getLanguageForSpeak" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="detectArray">
            <soap:operation soapAction="urn:detectArray" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setAppid">
            <soap:operation soapAction="urn:setAppid" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="detect">
            <soap:operation soapAction="urn:detect" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="breakSentences">
            <soap:operation soapAction="urn:breakSentences" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUser">
            <soap:operation soapAction="urn:getUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setContenttype">
            <soap:operation soapAction="urn:setContenttype" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getLanguagesNames">
            <soap:operation soapAction="urn:getLanguagesNames" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="speak">
            <soap:operation soapAction="urn:speak" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="translateArray">
            <soap:operation soapAction="urn:translateArray" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStub">
            <soap:operation soapAction="urn:getStub" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTranslationsArray">
            <soap:operation soapAction="urn:getTranslationsArray" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="translateLine">
            <soap:operation soapAction="urn:translateLine" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCategory">
            <soap:operation soapAction="urn:getCategory" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setOptions">
            <soap:operation soapAction="urn:setOptions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="translateXML">
            <soap:operation soapAction="urn:translateXML" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUri">
            <soap:operation soapAction="urn:getUri" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAppIdToken">
            <soap:operation soapAction="urn:getAppIdToken" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TranslateSOAP12Binding" type="axis2:TranslatePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAppid">
            <soap12:operation soapAction="urn:getAppid" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStub">
            <soap12:operation soapAction="urn:setStub" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getContenttype">
            <soap12:operation soapAction="urn:getContenttype" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTranslations">
            <soap12:operation soapAction="urn:getTranslations" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap12:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTranslation">
            <soap12:operation soapAction="urn:addTranslation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap12:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setCategory">
            <soap12:operation soapAction="urn:setCategory" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setUri">
            <soap12:operation soapAction="urn:setUri" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getLanguagesForTranslate">
            <soap12:operation soapAction="urn:getLanguagesForTranslate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap12:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOptions">
            <soap12:operation soapAction="urn:getOptions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUser">
            <soap12:operation soapAction="urn:setUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getLanguageForSpeak">
            <soap12:operation soapAction="urn:getLanguageForSpeak" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap12:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="detectArray">
            <soap12:operation soapAction="urn:detectArray" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap12:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setAppid">
            <soap12:operation soapAction="urn:setAppid" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="detect">
            <soap12:operation soapAction="urn:detect" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap12:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="breakSentences">
            <soap12:operation soapAction="urn:breakSentences" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap12:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUser">
            <soap12:operation soapAction="urn:getUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setContenttype">
            <soap12:operation soapAction="urn:setContenttype" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getLanguagesNames">
            <soap12:operation soapAction="urn:getLanguagesNames" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap12:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="speak">
            <soap12:operation soapAction="urn:speak" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap12:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="translateArray">
            <soap12:operation soapAction="urn:translateArray" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap12:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStub">
            <soap12:operation soapAction="urn:getStub" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTranslationsArray">
            <soap12:operation soapAction="urn:getTranslationsArray" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap12:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="translateLine">
            <soap12:operation soapAction="urn:translateLine" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap12:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCategory">
            <soap12:operation soapAction="urn:getCategory" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setOptions">
            <soap12:operation soapAction="urn:setOptions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="translateXML">
            <soap12:operation soapAction="urn:translateXML" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap12:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUri">
            <soap12:operation soapAction="urn:getUri" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAppIdToken">
            <soap12:operation soapAction="urn:getAppIdToken" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TranslateFault">
                <soap12:fault use="literal" name="TranslateFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TranslateHttpBinding" type="axis2:TranslatePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getAppid">
            <http:operation location="Translate/getAppid"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAppid"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAppid"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStub">
            <http:operation location="Translate/setStub"/>
            <wsdl:input>
                <mime:content type="text/xml" part="setStub"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getContenttype">
            <http:operation location="Translate/getContenttype"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getContenttype"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getContenttype"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTranslations">
            <http:operation location="Translate/getTranslations"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getTranslations"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getTranslations"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addTranslation">
            <http:operation location="Translate/addTranslation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="addTranslation"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setCategory">
            <http:operation location="Translate/setCategory"/>
            <wsdl:input>
                <mime:content type="text/xml" part="setCategory"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setUri">
            <http:operation location="Translate/setUri"/>
            <wsdl:input>
                <mime:content type="text/xml" part="setUri"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getLanguagesForTranslate">
            <http:operation location="Translate/getLanguagesForTranslate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getLanguagesForTranslate"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getLanguagesForTranslate"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOptions">
            <http:operation location="Translate/getOptions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getOptions"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getOptions"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUser">
            <http:operation location="Translate/setUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="setUser"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getLanguageForSpeak">
            <http:operation location="Translate/getLanguageForSpeak"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getLanguageForSpeak"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getLanguageForSpeak"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="detectArray">
            <http:operation location="Translate/detectArray"/>
            <wsdl:input>
                <mime:content type="text/xml" part="detectArray"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="detectArray"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setAppid">
            <http:operation location="Translate/setAppid"/>
            <wsdl:input>
                <mime:content type="text/xml" part="setAppid"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="detect">
            <http:operation location="Translate/detect"/>
            <wsdl:input>
                <mime:content type="text/xml" part="detect"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="detect"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="breakSentences">
            <http:operation location="Translate/breakSentences"/>
            <wsdl:input>
                <mime:content type="text/xml" part="breakSentences"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="breakSentences"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUser">
            <http:operation location="Translate/getUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getUser"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getUser"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setContenttype">
            <http:operation location="Translate/setContenttype"/>
            <wsdl:input>
                <mime:content type="text/xml" part="setContenttype"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getLanguagesNames">
            <http:operation location="Translate/getLanguagesNames"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getLanguagesNames"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getLanguagesNames"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="speak">
            <http:operation location="Translate/speak"/>
            <wsdl:input>
                <mime:content type="text/xml" part="speak"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="speak"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="translateArray">
            <http:operation location="Translate/translateArray"/>
            <wsdl:input>
                <mime:content type="text/xml" part="translateArray"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="translateArray"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStub">
            <http:operation location="Translate/getStub"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getStub"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getStub"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTranslationsArray">
            <http:operation location="Translate/getTranslationsArray"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getTranslationsArray"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getTranslationsArray"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="translateLine">
            <http:operation location="Translate/translateLine"/>
            <wsdl:input>
                <mime:content type="text/xml" part="translateLine"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="translateLine"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCategory">
            <http:operation location="Translate/getCategory"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getCategory"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getCategory"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setOptions">
            <http:operation location="Translate/setOptions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="setOptions"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="translateXML">
            <http:operation location="Translate/translateXML"/>
            <wsdl:input>
                <mime:content type="text/xml" part="translateXML"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="translateXML"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUri">
            <http:operation location="Translate/getUri"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getUri"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getUri"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAppIdToken">
            <http:operation location="Translate/getAppIdToken"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAppIdToken"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAppIdToken"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Translate">
        <wsdl:port name="TranslateSOAP11port_http" binding="axis2:TranslateSOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/Translate"/>
        </wsdl:port>
        <wsdl:port name="TranslateSOAP12port_http" binding="axis2:TranslateSOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/Translate"/>
        </wsdl:port>
        <wsdl:port name="TranslateHttpport" binding="axis2:TranslateHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/Translate"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
